
#api keys
.env
.idea
SESAR/.ipynb_checkpoints
SESAR/output/checkpoint*
SESAR/trainingDataApproach/output/checkpoint-3600/config.json
SESAR/mlenvpoetry/mlenvpoetry/__init__.py
SESAR/trainingDataApproach/output/savedmodels/model-iSamMaterialSampleType-43-10-20-0.0001/config.json
