
#api keys
.env
.idea
SESAR/.ipynb_checkpoints
SESAR/trainingDataApproach/output/checkpoint*
SESAR/mlenvpoetry*
SESAR/trainingDataApproach/output/savedmodels*
SESAR/trainingDataApproach/trainingData/SESARTrainingiSamKeywords.csv
SESAR/trainingDataApproach/trainingData/SESARTrainingiSamKeywords.xlsx
SESAR/trainingDataApproach/trainingData/SESAR_training_dataset_archive.xlsx
SESAR/trainingDataApproach/output/MaterialsClassification*.csv
SESAR/trainingDataApproach/dataToClassify*